@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(4, 31, 57);
  font-family: "Poppins", sans-serif;
}
body header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  gap: 40px;
  height: 100%;
  width: 241px;
  color: white;
  z-index: 10;
}
body header .logo {
  display: none;
  font-size: 35px;
  font-weight: 600;
}
body header #menuButton {
  display: flex;
  background: none;
  border: none;
  position: absolute;
  top: 20;
  left: 20;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 30px 20px;
}
body header #menuButton #hamburguer {
  border-top: 3px solid white;
  width: 30px;
}
body header #menuButton #hamburguer::after, body header #menuButton #hamburguer::before {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  margin-top: 7px;
  transition: 0.4s;
}
body header #menuButton.active #hamburguer {
  border-top-color: transparent;
}
body header #menuButton.active #hamburguer::before {
  transform: rotate(135deg);
}
body header #menuButton.active #hamburguer::after {
  transform: rotate(-135deg);
  margin-top: -4px;
}
body header nav {
  display: flex;
  visibility: hidden;
  flex-flow: column nowrap;
  gap: 60px;
  background-color: #01080E;
  height: 100%;
  width: 0px;
  padding: 40px 20px;
  transition: 0.3s;
  overflow-x: hidden;
}
body header nav ul.firstUl {
  margin-top: 93px;
}
body header nav ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 15px;
  list-style: none;
}
body header nav ul a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  gap: 15px;
}
body header nav ul a:hover {
  color: #093764;
}
body header nav ul svg {
  width: 30px;
  height: 30px;
  align-self: baseline;
}
body header nav.active {
  transition: 0.3s;
  width: 241px;
  visibility: visible;
}
body main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 100px 40px;
  z-index: 9;
}
body main h1 {
  color: white;
  padding-bottom: 20px;
}
body main div.songsContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
}
body main div.songsContainer .song {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  gap: 20px;
  background-color: #001224;
  padding: 12px;
  width: 190px;
  height: 260px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
body main div.songsContainer .song a {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  color: white;
  text-decoration: none;
}
body main div.songsContainer .song div {
  width: 100%;
  height: 180px;
  background-color: #010c24;
}
body main div.songsContainer .song div img {
  color: transparent;
}
body main div.songsContainer .song h2 {
  font-size: 16px;
}
body main div.songsContainer .song svg {
  position: absolute;
  right: 0;
  top: 5px;
  width: 20px;
  height: 20px;
  color: rgb(255, 51, 0);
  cursor: pointer;
  margin: 10px;
}
body main form,
body main .addMusic {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}
body main form label,
body main .addMusic label {
  color: white;
  font-weight: 500;
}
body main form input,
body main form button,
body main .addMusic input,
body main .addMusic button {
  padding: 7px;
  font-size: 19px;
  width: 400px;
  background-color: rgb(4, 31, 57);
  color: white;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
}
body main form button,
body main .addMusic button {
  border: none;
  background-color: #093764;
  border-radius: 5px;
  cursor: pointer;
}
body main form button:active,
body main .addMusic button:active {
  background-color: rgb(4, 31, 57);
}
@media (min-width: 1170px) {
  body header .logo {
    display: block;
  }
  body header #menuButton {
    display: none;
  }
  body header nav {
    visibility: visible;
    width: 241px;
  }
  body header nav ul.firstUl {
    margin: 0;
  }
  body main {
    margin-left: 241px;
    align-items: start;
    justify-content: start;
  }
  body main div.songsContainer {
    justify-content: start;
  }
}/*# sourceMappingURL=main.css.map */